.App {
  background-color: #dae0e6;
  min-height: 100vh;
}

.flex {
  display: flex;
}

.white {
  background-color: white;
}

.filters {
  padding: 20px;
  margin-bottom: 20px;
}

.filter button {
  height: 32px;
  margin-left: 10px;
}

.posts {
  padding: 20px;
}

@media screen and (max-width: 620px) {
  .posts {
    padding: 20px 0px;
  }
}
