.header {
  display: grid;
  height: 48px;
  background: grey;
  padding: 0 2%;
}
.navigation {
  display: grid;
  grid-template-columns: 0.8fr 0.2fr;
}

.reddit {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  align-items: center;
  justify-items: center;
}

.logo {
  margin-right: auto;
}

.search-bar {
  display: flex;
  width: 100%;
  background-color: lightgrey;
  border-radius: 2px;
  padding: 2px;
}

.search-bar:hover {
  border: 1px solid blue;
  background-color: white;
}

.search-bar:focus {
}

.search-bar input {
  background-color: inherit;
  width: 100%;
  border: 0px;
}

.user-panel {
  margin: auto 0;
  margin-left: auto;
  height: 32px;
}

.authentication {
  display: flex;
}

.button {
  height: 32px;
  margin-right: 10px;
  border-radius: 4px;
}

.profile {
  border: 1px solid grey;
}

.profile:hover {
  border: 1px solid black;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
}

.dropdown-menu {
  position: fixed;
  border: 1px solid black;
  right: 0;
  max-height: 80%;
  width: 211px;
  background-color: white;
}

.dropdown-menu .item {
  height: 40px;
  display: flex;
  align-items: center;
}

.dropdown-menu .item:hover {
  color: white;
  background-color: rgb(46, 46, 209);
}
