.filters {
  background: rgba(15, 23, 42, 0.03);
  border: 1px solid var(--color-border);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
}

.filters .ui-pill {
  font-size: 13px;
}

.filters .ui-pill .icon {
  font-size: 15px;
  opacity: 1;
}
